
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes active2 {
    0% {    
        background-color: var(--mildshade);
    }
    100% {
        background-color: var(--mild);
    }
}

/* @font-face {
    font-family: Borgen;
    src: url('/public/fonts/Borgen.otf') format('opentype');
}
 */
@font-face {
    font-family: Borgen;
    src: url('/fonts/Borgen.otf') format('opentype');
    /* font-style: oblique; */
}
@font-face {
    font-family: gowun batang;
    src: url('/fonts/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
    font-family: suit;
    src: url('/fonts/SUIT-Thin.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: suit;
    src: url('/fonts/SUIT-Light.otf') format('opentype');
    font-weight: bold;
}
/* @font-face {
    font-family: IBM;
    src: url('/fonts/IBMPlexMono-Regular.otf') format('opentype');
} */
@font-face {
    font-family: NK57;
    src: url('/fonts/NK57 Monospace Sc Lt.otf') format('opentype');
}
@font-face {
    font-family: Bitter;
    src: url('/fonts/Bitter-VariableFont_wght.ttf') format('truetype');
}

* {
    font-family: 'Orbit', 'poppins', monospace;
    /* font-family: 'Bitter', monospace; */
}