@keyframes active2 {
    0% {    
        background-color: var(--mildshade);
    }
    100% {
        background-color: var(--mild);
    }
}

#App.theme-minimal {
    
    button, input {
        box-shadow: inset 0px 0px 0px 1px var(--deeper);
        border-radius: 0.5em;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--shade);
    }

    /* button:active {
        background-color: var(--mildshade);
    } */

    button:focus {
        animation: none;
    }
    
    button:before {
        display: none;
    }

    .linksOpener:hover {
        scale: 0.9;
    }


    button:focus, input:focus {
        box-shadow: inset 0px 0px 0px 1px var(--mild);
    }


}