@keyframes active2 {
    0% {    
        background-color: var(--mildshade);
    }
    100% {
        background-color: var(--mild);
    }
}

/* @font-face {
    font-family: Borgen;
    src: url('/public/fonts/Borgen.otf') format('opentype');
}
 */
@font-face {
    font-family: Borgen;
    src: url('/fonts/Borgen.otf') format('opentype');
    /* font-style: oblique; */
}
@font-face {
    font-family: gowun batang;
    src: url('/fonts/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
    font-family: suit;
    src: url('/fonts/SUIT-Thin.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: suit;
    src: url('/fonts/SUIT-Light.otf') format('opentype');
    font-weight: bold;
}
/* @font-face {
    font-family: IBM;
    src: url('/fonts/IBMPlexMono-Regular.otf') format('opentype');
} */
@font-face {
    font-family: NK57;
    src: url('/fonts/NK57 Monospace Sc Lt.otf') format('opentype');
}
@font-face {
    font-family: Bitter;
    src: url('/fonts/Bitter-VariableFont_wght.otf') format('opentype');
}



#App.theme-minimal {

    * {
        font-family: /* 'NK57',  *//* 'gowun batang', */ 'suit', 'freemono', monospace;
    }

    /* .node .value {
        font-family: 'gowun batang' !important;
    } */

    button, input {
        box-shadow: inset 0px 0px 0px 1px var(--shade);
        border-radius: 0.25em;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }

    button:hover {
        box-shadow: inset 0px 0px 0px 1px var(--mildshade);
    }

    /* button:active {
        background-color: var(--mildshade);
    } */

    button:focus {
        animation: none;
        background-color: var(--shade);
        box-shadow: inset 0px 0px 0px 1px var(--mild);
    }
    
    button:before {
        display: none;
    }

    .linksOpener:hover {
        /* scale: 0.9; */
        background-color: var(--mildshade);
    }


    button:focus, input:focus {
        box-shadow: inset 0px 0px 0px 1px var(--mild);
    }

        
    input:hover, textarea:hover, input:focus, textarea:focus {
        background-color: var(--shade);
        box-shadow: inset 0px 0px 0px 1px var(--mildshade);
    }

    .node .value:hover, .node .value:focus {
        background-color: transparent;
        box-shadow: none;
    }


}