@keyframes active2 {
    0% {    
        background-color: var(--mildshade);
    }
    100% {
        background-color: var(--mild);
    }
}

/* @font-face {
    font-family: Borgen;
    src: url('/public/fonts/Borgen.otf') format('opentype');
}
 */
@font-face {
    font-family: Borgen;
    src: url('/public/fonts/Borgen.otf') format('opentype');
    /* font-style: oblique; */
}
@font-face {
    font-family: gowun batang;
    src: url('/public/fonts/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
    font-family: suit;
    src: url('/public/fonts/SUIT-Thin.otf') format('opentype');
}
@font-face {
    font-family: IBM;
    src: url('/public/fonts/IBMPlexMono-Regular.otf') format('opentype');
}
@font-face {
    font-family: NK57;
    src: url('/public/fonts/NK57 Monospace Sc Lt.otf') format('opentype');
}
@font-face {
    font-family: Bitter;
    src: url('/public/fonts/Bitter-VariableFont_wght.otf') format('opentype');
}



#App.theme-minimal {

    * {
        font-family: 'NK57', 'gowun batang', 'suit', '나눔명조', 'freemono',monospace;
        font-weight: 300;
    }

    button, input {
        box-shadow: inset 0px 0px 0px 1px var(--deeper);
        border-radius: 0.5em;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--shade);
    }

    /* button:active {
        background-color: var(--mildshade);
    } */

    button:focus {
        animation: none;
    }
    
    button:before {
        display: none;
    }

    .linksOpener:hover {
        /* scale: 0.9; */
        background-color: var(--mildshade);
    }


    button:focus, input:focus {
        box-shadow: inset 0px 0px 0px 1px var(--mild);
    }


}