@keyframes logAppear{
  0% {
  background-color: inherit;
  }
  50% {
  background-color: var(--hilight);
  }
  100% {
  background-color: inherit;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}