:root {
    --light: rgba(225, 245, 231, 1);
    --vivid: rgba(151, 200, 128, 1);
    --link: rgb(153, 247, 225);
    --mild: rgb(225, 245, 231, 0.5);
    --deep: rgba(71, 71, 71, 1);
    --dark: rgba(0, 0, 0, 1);
    --hilight: rgba(99, 99, 253, 0.3);
    --alert: rgba(255, 0, 0, 0.3);
    --executable: rgb(226, 255, 147);
}

html {
    background-color: var(--dark);
}
  
* {
  font-size: 14px;
  box-sizing: border-box;
  color: var(--light);
  text-overflow: ellipsis;
  
}
*:focus {
  outline: 1px solid var(--light);
  outline: none;
  box-shadow: inset 0px 0px 0px 1px var(--light);
}

body {
  margin: 0px;
}

div {
  text-align: left;
}

.h-flex {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 100%;
}

#App {

    width: 100vw;
    height: 100vh;

    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    position: relative;

}
#App > * {
  flex-shrink: 0;
}


button, input, textarea, select {
  
  font-size: 14px;
  padding: 0.5em 0.5em 0.5em 0.5em;

  background-color: transparent;
  color: var(--light);
  
  border: 0px solid transparent;
  border-radius: 0px;

  box-shadow: inset 0px 0px 0px 1px var(--deep);

  flex-shrink: 0;

}

textarea {
  resize: none;
  overflow: auto; /* !! 결국 그게 되야하는데... 자동 리자이징. */
}

input:hover, button:hover, textarea:hover, .clickable:hover {
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 1px var(--light),
    0px 0px 10px 0px var(--light);
    /*text-decoration: solid underline var(--light) 4px;
    box-shadow: inset 0px 0px 0px 1px var(--light);*/
    
}
input:focus, button:active, .clickable:focus {

    border-radius: 0px;

    background-color: var(--light);
    color: var(--dark);
}
textarea:focus {
    border-radius: 0px;
}
::-webkit-scrollbar {
	height: 14px;
}
::-webkit-scrollbar-thumb {
	background-color: white;
  min-height: 50px;
}
.group {
  box-shadow: inset 0px 0px 0px 1px var(--deep);
  display: flex; 
  flex-direction: column;
  flex-shrink: 0;
}

.title {
  font-size: 2em;
  margin-bottom: 10px;
}

.window {
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid var(--deep);
  flex-basis: 0;
  flex-grow: 1;
  box-shadow: none;
}

a, .link {
  text-decoration: none;
  color: var(--link)
}

a:hover {
  text-decoration: solid underline var(--link) 1px;
}

#RawEditor {
  line-height: 2;
  white-space: pre-wrap;
  padding: 10px;
  overflow: auto;
}

#LogPreview {
  overflow: hidden;
  padding: 0.5em;
  width: 100%; 
  max-height: 50%;
  background-color: var(--dark);
  border: 1px solid var(--deep);
  animation-name: logAppear;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-timing-function: ease-out;
  overflow-y: auto;
}

@keyframes logAppear{
  0% {
    background-color: inherit;
  }
  50% {
    background-color: var(--hilight);
  }
  100% {
    background-color: inherit;
  }
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}




#View {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;

}
#Editor {
  box-shadow: inset 0px 0px 0px 1px var(--deep);
  flex-grow: 1;
  padding: 1em;
}

#Header {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}
#Header > * {
  min-width: 3em;
  min-height: 3em;
}
#PickRoot {
}
#GoTo {
  flex-grow: 1;
}

.node {
  
}
.node .key { 
  padding: 1em;
  box-shadow: inset 0px 0px 0px 1px var(--deep);
}
.node .key:hover { 
  box-shadow: inset 0px 0px 0px 1px var(--light);
}
.node .value {
  padding-left: 1em;
}

#Footer {
  max-height: 50%;
  display: flex;
  overflow: auto;
}

.node.selected {
  box-shadow: inset 0px 0px 0px 4px var(--light) !important;
}

.Command .function { 
  color: var(--executable);
}

#Main {
  overflow: auto;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

#Commands {
  max-height: 50%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  #Logs {
    flex-grow: 1;
  }
}