:root {
    --light: rgba(225, 245, 231, 1);
    --vivid: rgba(151, 200, 128, 1);
    --link: rgb(153, 247, 225);
    --mild: rgb(225, 245, 231, 0.5);
    --deep: rgba(71, 71, 71, 1);
    --dark: rgba(0, 0, 0, 1);
    --hilight: rgba(99, 99, 253, 0.3);
}
  
* {
  font-size: 14px;
  box-sizing: border-box;
  
  color: var(--light);

  text-overflow: ellipsis;
  
}
*:focus {
  outline: 1px solid var(--light);
  outline: none;
  box-shadow: inset 0px 0px 0px 1px var(--light);
}

div {
  text-align: left;
}

.h-flex {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 100%;
}

#App {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    position: relative;
    height: 100vh;

}
#App > * {
  flex-shrink: 0;
}

#header * {
  height: 100%;
}

#view {
  overflow: auto;
  
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;

}

#background {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark);
  z-index: -1;
  transition: none;
}

body {
    margin: 0px;
  }

.main {
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    /* border: 1px solid var(--light);  */
    box-shadow: inset 0px 0px 0px 1px var(--deep);
    /*
    margin-right: -1px;
    margin-bottom: -1px; */
}

button, input, textarea, select, .buttonlike {
  
  font-size: 14px;
  padding: 0.5em 0.5em 0.5em 0.5em;

  background-color: transparent;
  color: var(--light);
  
  border: 0px solid transparent;
  border-radius: 0px;

  box-shadow: inset 0px 0px 0px 1px var(--deep);

  flex-shrink: 0;

}

textarea {
  resize: none;
  overflow: auto; /* !! 결국 그게 되야하는데... 자동 리자이징. */
}

input:hover, button:hover, textarea:hover {
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 1px var(--light),
    0px 0px 10px 0px var(--light);
    /*text-decoration: solid underline var(--light) 4px;
    box-shadow: inset 0px 0px 0px 1px var(--light);*/
    
}
input:focus, button:active, textarea:focus {

    border-radius: 0px;

    background-color: var(--light);
    color: var(--dark);
}

.border {
  border: 1px solid var(--light);
  box-shadow: inset 0px 0px 0px 1px var(--light);
  box-shadow: inset 0px 0px 0px 1px yellow, inset 1px 0px 0px 1px blue;
}

#keyboard_toolbar {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: var(--deep);
  width: 100vw;
  height: 30px;
  display: flex;
  flex-direction: row;
  z-index: 4;
}
#command_palette {
  display: none;

  position: sticky;
  margin-top: 160px;
  background-color: rgba(54, 54, 54, 1);

  width: 75vw;
  height: fit-content;
  left: ((100-@width)/2);
  z-index: 4;
}
#command_palette textarea {
    width: 100%;
    height: fit-content;
    color: white;
    border: 1px solid transparent;
    background-color: transparent;
    resize: none;
    box-sizing: border-box;
    font-size: 16px !important;
    padding: 4px;
}

    
.MultilineTextarea {
  border-left: 1px solid var(--deep);
}

.IOI:hover > .MultilineTextarea {
  border-left: 1px solid var(--light);
}

.MultilineTextarea:hover {
  border-left: 8px solid var(--light) !important;
}

::-webkit-scrollbar {
	height: 14px;
}
::-webkit-scrollbar-thumb {
	background-color: white;
  min-height: 50px;
	
}
::-webkit-scrollbar-track {

	
}


.MultilineTextarea {
    box-sizing: border-box; /* 중요 */
}
.visibleTextarea {
    background-color: transparent;
    font-size: inherit;
    width: 100%;
    padding: 1em;
    overflow-y: hidden;
    resize: none;

    color: white;
    background-color: transparent;
    border:none;
    
}
.inputTextarea {
    background-color: transparent;
    font-size: inherit;
    width: 100%;
    padding: 1em;
    overflow-y: hidden;
    resize: none;

    position: absolute;
    border: none;
    color: transparent;
    background-color: transparent;
    z-index: 1;
    /* transition: none !important; */ /* 진짜 중요 */
    caret-color: white;
    
}
.inputTextarea::selection {
    color: white;
    background: #be9eff;
}

.FileViewer {
  border: 1px solid var(--deep);
  flex-grow: 1;
  min-height: 100%;
  flex-shrink: 0;

}

.FileViewer .heading {
  display: flex; 
  flex-direction: row;
}

.FileViewer .heading * {
  font-size: 16px;
  margin-right: 10px;
}

.FileViewer .Folder {
    width: 100%;
}

#TextModifiers {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

#TextModifiers * {
  white-space: nowrap;
}

#TextModifiers :first-child {
  margin-left: auto;
}

#TextModifiers :last-child {
  margin-right: auto;
}

#TextModifiers::-webkit-scrollbar {
	height: 2px;
}

#TextModifiers::-webkit-scrollbar-thumb {
	background-color: var(--light);
  min-height: 20px;
	
}

.group {
  box-shadow: inset 0px 0px 0px 1px var(--deep);
  display: flex; 
  flex-direction: column;
  flex-shrink: 0;
}

.Name {
  font-size: 2em;
  margin-bottom: 10px;
}

.window {
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid var(--deep);
}

.Block {
  width: max-content;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  /* overflow-x: auto; */
  align-items: center;
  transition: background-color 0.5s cubic-bezier(0, 0, 0.15, 0.64);
}

.Block:hover {
  background-color: var(--hilight);
}
.Block .options {
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.Block:hover .options {
  opacity: 1;
}


.hoverIndicator {
  height: 1em; 
  background-color: var(--deep); 
  margin-right: 0.5em;  
  transition: background-color 0.5s cubic-bezier(0, 0, 0.15, 0.64);
}
.Block:hover .hoverIndicator  {
  background-color: var(--light); 
}
.Block:hover input, .Block:hover textarea  {/* 
  box-shadow: inset 0px 0px 0px 1px var(--light); */
}
.Block input:hover, .Block textarea:hover  {
  border-radius: 0px;/* 
  box-shadow: inset 0px -1px 0px 0px var(--light), 
  8px 0px 20px -4px var(--light); */
  box-shadow: inset 0px 0px 0px 1px var(--light), 
  8px 0px 20px -4px var(--light);
}

.Block.selected {
  /* box-shadow: inset 0px 0px 0px 1px var(--mild); */
  background-color: var(--hilight);
}

.Block:focus {
    background-color: var(--vivid);
}

.Block input, .Block textarea {
  box-shadow: none;
  
}

.icon {
  height: 1.5em;
}
button:has(.icon) {
}

a, .link {
  text-decoration: none;
  color: var(--link)
}

a:hover {
  text-decoration: solid underline var(--link) 1px;
}

.head {
  font-size: 1.2em;
  padding: 0.5em 0.5em 0.5em 0.5em
}
.body {
  flex-grow: 1;
}
.valuePreview {
    font-size: 1.25em;
    color: var(--vivid);
}

.autoCompletion {
    
}
.autoCompletionItem {
    background-color: var(--dark);
    width: 100%;
    text-align: left;
}

.InnerView {
  display: flex;
  height: 100%;
  margin: auto; /* !!! Important !!! it aligns this to the horizontal center of the view */
}

.YAMLpreview {
  border: 1px solid var(--deep);
  line-height: 2;
  white-space: pre-wrap;
  padding: 10px;
  overflow: auto;
}